<div class="banner" style="background-image: linear-gradient(-225deg, rgba(42, 245, 152, 0.3) 0%, rgba(0, 158, 253, 0.35) 50%), url('../../assets/banner-image.jpg');">
  <div class="banner-content">
    <%# simple_form_for @items do |form| %>
    <%#= form.input "min_price" %>
    <%#= form.input "max_price" %>
    <%#= form.submit "Find Your Package", package_path %>
    <%# end %>


    <%= simple_form_for :search,  url: package_path , :method => :get, html: {class: 'form-inline'} do |f| %>

      <%= f.input :price_lower, as: :integer, required: false, placeholder: "Min" %>
      <%= f.input :price_upper, as: :integer, required: false, placeholder: "Max" %>
      <%= f.submit "Submit", class: "btn base-button" %>
  <% end %>



  <!-- </div> -->
</div>
<!-- background-image: linear-gradient(180deg, #2af598 0%, #009efd 100%); -->
