
  <div class="banner">
    <div class="banner-content">
      <div class="home-banner">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
              <h1>The World's #1 Ref Store</h1>

              <!-- <h1><%#= t.hello %></h1> -->
              <script type="text/javascript" src="//s3.amazonaws.com/downloads.mailchimp.com/js/signup-forms/popup/embed.js" data-dojo-config="usePlainJson: true, isDebug: false"></script><script type="text/javascript">require(["mojo/signup-forms/Loader"], function(L) { L.start({"baseUrl":"mc.us15.list-manage.com","uuid":"c3f0bd81a6fc7bc5b51b4a1f7","lid":"77537efd5a"}) })</script>

          </div>
          <div class="col-xs-12">
            <%= simple_form_for :search,  url: package_path , :method => :get, html: {class: 'form-inline'} do |f| %>
              <%= f.input :price_upper, as: :integer, required: false, placeholder: "$500", label: "MY BUDGET IS   ", class: "budget-title" %>
              <%= f.input :new_package, as: :hidden, value: "true" %>
              <%= f.submit "GET YOUR PACKAGE", class: "btn cart-button btn-package" %>
            <% end %>
        </div>
  </div>
    </div>
 </div>
</div>
