<div class="banner">

  <div class="banner-content">
    <%# simple_form_for @items do |form| %>
    <%#= form.input "min_price" %>
    <%#= form.input "max_price" %>
    <%#= form.submit "Find Your Package", package_path %>
    <%# end %>
    <h1>Get Your Package!</h1>
    <br>

    <%= simple_form_for :search,  url: package_path , :method => :get, html: {class: 'form-inline'} do |f| %>

      <%= f.input :price_upper, as: :integer, required: false, placeholder: "Max", label: false %>
      <%= f.input :new_package, as: :hidden, value: "true" %>
      <%= f.submit "Submit", class: "btn base-button" %>
  <% end %>
</div>
