
  <nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-header">
      <div class="navbar-header">

        <a class="navbar-brand" href="#">Zebrasclub.com
          <!-- <img alt="Brand" src="..."> *** pour le logo ***-->
        </a>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><p><small><em>Bientôt en ligne</em></small></p></li>
        </ul>
      </div>
    </div>
  </nav>

<header>
  <div class="container-header">
    <div class="row">
      <div class="col-sm-7">
        <div class="header-content">
          <h1>On veut vous faciliter la vie!</h1>
          <p class="lead">Une boutique en ligne pour l'équipement d'arbitre de hockey.</p>
          <p><a class="btn btn-lg btn-success" href="#" role="button">Dit-moi quand ça sort</a></p>
        </div>
      </div>
        <div class="col-sm-5">
          <div class="devise-container">
          <%#= image_tag "devise_zebrasclub_page_lancement.png", class:"img-fluid img-responsive center-block" %>
        </div>
      </div>
    </div>
  </div>
</header>


<div class="container-landing">
  <div class="content-section-a">
    <div class="row card-landing">
      <div class="col-xs-8">
        <h2 class="featurette-heading">Bas prix. <span class="text-muted">It'll blow your mind.</span></h2>
        <p class="lead">Nous allons offrir les meilleurs prix sur le marché.</p>
      </div>
      <div class="col-xs-4">
        <%#= image_tag "bas_prix_icon.png", class:"img-fluid img-responsive center-block" %>
      </div>
    </div>
  </div>

  <div class="content-section-a">

    <div class="row card-landing">
      <div class="col-xs-8 col-xs-push-4">
        <h2 class="featurette-heading">Tout sous un même toit. <span class="text-muted">See for yourself.</span></h2>
        <p class="lead">Peu importe ce que vous recherchez, on va l'avoir.</p>
      </div>

      <div class="col-xs-4 col-xs-pull-8">
       <%#= image_tag "Tout_même_toit_bleu.png", class:"img-fluid img-responsive center-block" %>
     </div>
   </div>
 </div>

 <div class="content-section-a">

  <div class="row card-landing">
    <div class="col-xs-8">
      <h2 class="featurette-heading">Achat en kit. <span class="text-muted">Checkmate.</span></h2>
      <p class="lead">Vous allez pouvoir bénéficiez d'un rabais si vous achetez l'un de nos deux kit : Rookie ou Pro.</p>
    </div>

    <div class="col-xs-4">
      <!-- <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="Generic placeholder image"> -->
      <%#= image_tag "Achat_en_kit.png", class:"img-fluid img-responsive center-block" %>
    </div>
  </div>
</div>
</div>

<!-- <div class="container">
  <div class="row">
    <div class="col-md-6">
      <h4>Bas prix</h4>
      <p>Nous allons offrir les meilleurs prix sur le marché.</p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <h4>Tout sous un même toit</h4>
      <p>Peu importe ce que vous recherchez, on va l'avoir.</p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <h4>Achat en kit</h4>
      <p>Vous allez pouvoir bénéficiez d'un rabais si vous achetez l'un de nos deux kit : Rookie ou Pro.</p>
    </div>
  </div>
</div> -->

