<div class="container">
  <div class="row card-row">

    <%= render 'pages/package_page', categories: @categories, items: @items %>

  </div>

  <div id="sidebar">
    <% @categories.each do |i_t| %>
    <ul>
      <li>
        <%= i_t.item_type%>
      </li>
    </ul>
    <% end %>
    <%= link_to "Order", orders_path, class:"btn sidebar-order-button" %>
  </div>
</div>
</div>
