.the-footer {
  margin-top: 0px;
  padding-top: 0px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  bottom: 0px;
  width: 100%;
  background-color: $base-button-color;
}

.social-media-footer-box {

  // padding-left: 50px; *** pas pour la landing page ***
  ul {
    margin: 0;
    font-size: 30px;
    li {
      padding: 0px 16px;
      a {
        color: white;
        &:hover {
          text-decoration: none;
          color: $base-button-color-hover;
        }
      }
    }
  }
}

// html {
//   min-height: 100%;
//   position: relative;
//   padding-bottom: 100px;
// }
