#package-main-index {
  //margin-top: 10px;
  // width: 80%;
  padding-right: 320px;
  background: #F8F9F9;
  margin-top: 70px;
}


@media (max-width: 992px) {
  #package-main-index {
    padding-right: 0;
  }
}


// .main-container {
//   display: flex;
//   align-items: center;
//   justify-content: space-between;
// }

.package-cards-container {
  width: 80%;
}
