.banner {
  color: white;
  text-align: center;
  flex-direction: column;
  height: 100vh;
  // height: calc(100vh - 70px);
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 0px;
  background-image: linear-gradient(-225deg, rgba(17, 90, 140, 0.6) 0%, rgba(0, 0, 25, 0.7) 50%), image_url('banner-image.jpg');
}
.home-banner {
  h1 {
    font-size: 10vw;
    font-weight: bold;
    text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
    margin: 0;
  }
  margin-bottom: 30px;
}
.banner p {
  font-size: 20px;
  font-weight: lighter;
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: 20px;
}

.index-banner{
  color: white;
  text-align: center;
  height: 45vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner-sub-header {
  display: none;
  max-width: 500px;
  margin-bottom: 10px;
  h2 {
    margin: 0;
  }
}

.banner-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search_price_upper {
  input {
    border-radius: 3px;
  }
}
