.base-button {
  background-color: $base-button-color;
  border-radius: 7px;
  color:white;
}


.base-button:hover{
  background-color:$base-button-color-hover;
  color:white;
  }

.cart-button{
  background-color: $cart-button;
  border-radius: 7px;
  color: white;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);

  &:hover{
    background-color: $cart-button-hover;
    color:white;
  }
}
