.card {
  background-color: white;
  color: black;
  text-decoration: none;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
  font-family: $base-font;
  margin: 15px 0px;
  padding: 20px;
  position: relative;
  &:hover{
    .card-title{

      opacity: 1;
    }
  }
}

.sidebar-in-cart {
  color: lightgreen;
}

.price {
  position: absolute;
  right: 0px;
  bottom: 0px;
  margin-top: 15px;
  border-radius: 2px;
  padding: 15px 20px;
  font-size: 20px;
  color: #333333;
  background-color: #D9D9D9;
  // background-color: #f7f7f7;
  p {
    margin: 0;
  }
}

.in-cart {
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  background-color: #00DAB8;
  color: #bef5ea;
}

.card-picture {
  margin-bottom: 45px;
  img {
    width: 90%;
    height: 90%;
  }
}

.card-lower {
  p {
    display: inline-block;
  }
}

.card-title {
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  display: flex;
  align-items:center;
  justify-content:space-around;
  text-align: center;
  padding: 20px;
  opacity: 0;
  background-color: rgba(255,255,255, 0.8);
  transition: all 0.2s ease-in;
  h2 {
    margin: 0;
    display: inline-block;
    font-weight: bolder;
    font-size: 20px;
    letter-spacing: 2px;
    transition: all 0.2s ease-in;
  }
}

.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  background: black;
  opacity: 0;
}
.card-row{

  padding: 0 50px;
  margin-top: 90px;

  // background-color: rgb(245, 245, 245);
  // box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  // height: 85vh;
  h1,h2,h3,h5,p{
    font-family: $base-font;
  }
  // overflow-y: auto;
}

