.card {
  background-color: white;
  color: black;
  text-decoration: none;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  font-family: $base-font;
  margin: 10px 0px;
  padding: 20px;
  position: relative;
}

.sidebar-in-cart {
  color: lightgreen;
}

.price {
  position: absolute;
  right: 20px;
  bottom: 10px;
  margin-top: 15px;
  color: grey;
  font-weight: bold;
  border-radius: 2px;
  padding: 15px 20px;
  p {
    margin: 0;
  }
}

.in-cart {
  background-color: lightgreen;
  color: black;
}

.card-picture {
  margin-bottom: 45px;
  img {
    width: 90%;
    height: 90%;
  }
}

.card-lower {
  p {
    display: inline-block;
  }
}

.card-title {
  margin-bottom: 10px;
  h2 {
    margin: 0;
    display: inline-block;
    font-weight: bolder;
    font-size: 20px;
    letter-spacing: 2px;
  }
}

.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  background: black;
  opacity: 0;
}
.card-row{
  padding: 20px;
  background-color: rgb(245, 245, 245);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  height: 85vh;
  h1,h2,h3,h5,p{
    font-family: $base-font;
  }
  overflow-y: auto;
}

