#index-min {
  margin-right: 12px;
}
#index-max {
  margin-left: 12px;
}

.form-control {
  border: none;
  border-bottom: solid 1px $input-border;
  box-shadow: none;
}

label {
  font-weight: normal;
}
