.package-item-show-container {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 2px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}

.package-item-photo {
  width: 45%;
  display: flex;
  flex-direction: column;
}

.main-photo {
  padding: 10px;
  width: 100%;
  margin-top: 40px;
  // height: 80%;
  // background-size: cover!important;
  // border-top: 2px solid black;
  // border-right: 2px solid black;
  // border-left: 2px solid black;
  // border-bottom: 1px solid black;
}

.package-item-details {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.package-item-right-div {
  min-height: 65vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.package-item-details-container {
  flex: 1 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 40px;
}

.package-item-main-header {
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  h1 {
    margin: 0px;
  }
  h3 {
    margin: 0px;
  }
}

.package-item-sub-header {
  padding: 15px 30px;
  h3 {
    margin: 0px;
  }
}

.package-item-description {
  padding: 15px 30px;
}

.package-item-sizes {
  padding: 15px 20px;
  display: flex;
  a {
    &:hover {
      color: black;
      text-decoration: none;
    }
  }
  h3 {
    margin: 0;
    margin-left: 10px;
  }
}

.size-circle {
  width: 40px;
  height: 40px;
  color: white;
  background-color: $size-base-grey;
  // font-size: 20px;
  border-radius: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0px 10px;
  h3 {
    font-size: 20px;
    margin: 0;
  }
  &:hover {
    background-color: $add-to-cart-button;
    color: white !important;
  }
}

.size-circle-on {
  background-color: $add-to-cart-button;
  color: white !important;
}

.package-item-buttons {
  padding: 15px 30px;
}

.edit-delete {
  display: inline-block;
  // margin-right: 30px;
}

.other-items {
  padding: 10px 40px;
  a {
    color: white;
    &:hover {
      text-decoration: none;
    }
  }
}

.add-to-cart-container {
  // display: flex;
  // justify-content: space-around;
  // align-items: center;
  padding: 20px;

}

.add-to-cart {
  background-color: $add-to-cart-button;
  border-radius: 25px;
  color: white;
  padding: 10px 40px;
  a &:hover {
    color: white;

    text-decoration: none;
    color: white;
    background-color: $add-to-cart-hover-button;

  }
}

.select-a-size {
  background-color: $add-to-cart-disable;
  border-radius: 25px;
  padding: 10px 40px;
  cursor: auto;
  color: white !important;
  a {
    &:hover {
      text-decoration: none;
      color: white !important;
    }
  }
}

.back-to-main {
  padding: 10px 40px;
  color: white;
  &:hover {
    text-decoration: none;
  }
  margin: 10px 0px;
}

.index-back-button {
  margin-bottom: -16px;
}

.back-button {
  padding: 10px 0;
  position: relative;
  a {
    position: absolute;
    right: 11px;
    font-size: 20px;
    color: rgb(100, 100, 100);
    font-weight: thick;
    &:hover {
      text-decoration: none;
    }
  }
}

.package-item-nav-bar {
  display: flex;
  justify-content: space-between;
  align-text: center;
  padding: 0 20px;
  height: 95px !important;

}

.nav-button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 20px;
  a {
    color: black;
    text-align: center;
    &:hover{
      text-decoration: none;
    }
  }
}

.nav-button {
  height: 65px;
  width: 65px;
  border-radius: 50%;
  background-color: grey;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  font-size: 30px;
  cursor: pointer;
}
