.package-item-container{
  display: flex;
  height: 100%;
}

.package-item-photo {
  width: 45%;
  display: flex;
  flex-direction: column;
}

.main-photo {
  height: 80%;
  border-top: 2px solid black;
  border-right: 2px solid black;
  border-left: 2px solid black;
  border-bottom: 1px solid black;
}

.bottom-photo-container {
  height: 20%;
  display: flex;
}

.bottom-photo {
  flex: 1 0;
  border-top: 1px solid black;
  border-right: 1px solid black;
  border-left: 1px solid black;
  border-bottom: 2px solid black;
  &:first-child {
    border-left: 2px solid black;
  }
  &:last-child {
    border-right: 2px solid black;
  }
}

.package-item-details {
  display: flex;
  flex-direction: column;
}

.package-item-details-container {
  flex: 1 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 40px;
}

.package-item-main-header {
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  h1 {
    margin: 0px;
  }
  h3 {
    margin: 0px;
  }
}

.package-item-sub-header {
  padding: 15px 30px;
  h3 {
    margin: 0px;
  }
}

.package-item-description {
  padding: 15px 30px;
}

.package-item-sizes {
  padding: 15px 20px;
  display: flex;
  a {
    color: white !important;
    &:hover {
      text-decoration: none;
    }
  }
}

.size-circle {
  width: 60px;
  height: 60px;
  background-color: red;
  color: white;
  border-radius: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0px 10px;
  h3 {
    margin: 0;
    font-weight: bold;
  }
}

.package-item-buttons {
  display: flex;
  justify-content: space-around;
}

.other-items {
  padding: 10px 40px;
  a {
    color: white !important;
    &:hover {
      text-decoration: none;
    }
  }
}

.add-to-cart {
  padding: 10px 40px;
  a {
    color: white !important;
    &:hover {
      text-decoration: none;
    }
  }
}

.back-to-main {
  padding: 10px 40px;
  color: white !important;
  &:hover {
    text-decoration: none;
  }
  margin: 10px 0px;
}

.index-back-button {
  margin-bottom: -16px;
}


// .package-item-type{
//   position:absolute;
//   top: 10px;
//   right: 10px;
// }
// .package-item-brand-name{
//   position: absolute;
//   top: 150px;
//   left: 620px;
// }
// .package-item-price{
//   position: absolute;
//   top: 10px;
//   left: 600px;
// }
// .package-item-size-select{
//   position: absolute;
//   top: 190px;
//   left: 620px;
// }
// .package-item-description{
//   position: absolute;
//   top: 230px;
//   left: 620px;
//   border: solid black;
// }
// .package-item-main-button{
//   font-family: $base-font;
//   position: absolute;
//   bottom: 10px;
//   left: 620px;
//   background-color: $base-button-color;
//   color: white;
//   border-radius: 7px;
//   width: 170px;
//   text-align: center;
//   .hover{
//     background-color: $base-button-color-hover;
//     color: white;
//   }
// }



// .package-item-main-button-two{
//   position: absolute;
//   bottom: 10px;
//   left: 800px;
//   background-color: $base-button-color;
//   color: white;
//   border-radius: 7px;
//   width: 170px;
//   text-align: center;
//   .hover{
//     background-color: $base-button-color-hover;
//     color: white;
//   }
// }

html {
  @media (min-width: 1200px) {
    .container {
      width: 95vw !important;
    }
  }
  @media (min-width: 992px) {
    .container {
      width: 90vw !important;
    }
  }
}
