#sidebar {
  background-color:transparent;
  position: fixed;
  right: 0px;
  top: 80px;
  bottom: 0px;
  width: 130px;
  // text-align: center;
  // border: solid black;
  font-family: $base-font;
  font-size: 20px;
}

#sidebar ul {
  list-style: none;
  padding-left: 10px;
}

#sidebar li {
  margin-top:0px;
  margin-bottom: 0px;
}
.sidebar-order-button{
  font-family: $base-font;
  position: absolute;
  bottom: 10px;
  background-color: $base-button-color;
  color: white;
  border-radius: 7px;
  width: 100px;
  text-align: center;
  justify-content:center;
  .hover{
    background-color: $base-button-color-hover;
    color: white;
  }
}
