.sidebar {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 80vh;
  padding: 20px;
  background-color: rgb(245, 245, 245);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  right: 25px;
  width: 240px;
  font-family: $base-font;
}

.package-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin: 4px auto;
  p {
    margin: 0;
  }
}
.package-items {
  width: 100%;
}

.package-item-in-cart {
  color: lightgreen;
}

.place-package-order {
  padding: 10px 40px;
  a {
    color: white !important;
    &:hover {
      text-decoration: none;
    }
  }
  margin-bottom: 0px;
}
