// Graphical variables
@import "config/variables";
@import "config/bootstrap_variables";
@import "config/responsiveness";

// External libraries
@import "bootstrap";
@import "bootstrap-sprockets";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "vendor/index";

// Your CSS
@import "layout/index";
@import "components/index";
@import "pages/index";

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

body{
width: 100%;
height: 100%;
font-family: $base-font, "Helvetica Neue", Helvetica, Arial, sans-serif;
font-weight: lighter;
}

abbr {
  display: none;
}

